* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("rHubBackground.png");
    background-color: #cccccc;
    font-family: 'Lato', sans-serif;
   }

header {
    height: 160px;
    width: 475px;
    background-color: rgba(139,69,19,0.5);
    margin-left: 30%;
}
   
    

.rhLogoImg {
    margin-top: 15px;
    margin-bottom: 15px;
    
    
}




.label {
    margin-bottom: 50px;
}

.box { 
    margin-top: 10%;
    margin-bottom: 10%;

}



