body {
    background-image: url("rHubBackground.png");
    background-color: #cccccc;
   }
.rhLogoImg {
    margin-left: 30%;
}




.label {
    margin-bottom: 50px;
}

.box { 
    margin-top: 20%;
    margin-bottom: 10%;

}

    